<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Shopping Site - Product Detail</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/product_detail.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <h1>Product Detail</h1>
    
    <!-- Breadcrumb -->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ url_for('home') }}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ product['description'] }}</li>
        </ol>
    </nav>
    
    <!-- Product detail container -->
    <div class="product-detail-container">
        <!-- Product image -->
        <div class="product-image">
            <img src="{{ url_for('static', filename='images/' + product['image']) }}" alt="{{ product['description'] }}">
        </div>
        
        <!-- Product details -->
        <div class="product-details">
            <h2>{{ product['description'] }}</h2>
            <p>Product Number: {{ product['product_no'] }}</p>
            <p>Category: {{ product['category'] }}</p>
            <p>Price: ${{ product['price'] }}</p>
        </div>
    </div>
    <a href="{{ url_for('home') }}" class="backbutton">Back</a>
</body>
</html>
